@{
    ViewData["Title"] = "Home Page";
}

<body style="text-align:center; background-color: beige;">
    <div style=" background-color: grey; border-radius: 15px; opacity: 5; text-align: center; margin: auto;">
<h1>Welcome to</h1><br/>
<h1>The</h1><br/>
<h1>Contract Monthly Claims System</h1>
    </div>
</body>
