@{
    ViewData["Title"] = "Home Page";
}

<body style="text-align:center; background-color: beige;">
<h1>Contract Monthly Claim System</h1>

<div style="border: 2px solid grey; padding: 20px; margin: auto; display: inline-block; text-align: center; background-color:cornsilk; border-radius: 15px">
<button type="submit" style="background-color:aqua; border-radius: 15px">Submit Claims</button></br></br>



<button type="button" style="background-color:aqua; border-radius: 15px">Verify And Approve Claims</button></br></br>


<button type="button" style="background-color:aqua; border-radius: 15px">Upload Documents for Claims</button></br></br>


<button type="button" style="background-color:aqua; border-radius: 15px">Track Claim Status</button>
</div>
</body>
