@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="text-align: center; background-color: beige">
    <h1>Track a Claim</h1></
    <br />
    <div style="border: 2px solid grey; padding: 20px; margin: auto; display: inline-block; text-align: center; background-color:cornsilk; border-radius: 15px">
        <p>Enter the following details to track your claim: </p></<br />
        <input type="text" name="ClaimID" placeholder="Claim ID" /><br/>
        <input type="text" name="LecturerID" placeholder="Lecturer ID" /><br />
        <button style="background-color: aqua; border-radius: 15px">Track Claim</button>
    </div>
</body>