@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="text-align: center; background-color: beige">
    <h1>Verify a Claim</h1></
    <br />
    <div style="border: 2px solid grey; padding: 20px; margin: auto; display: inline-block; text-align: center; background-color:cornsilk; border-radius: 15px">
        <!--Code for verifying a claim-->
        <p>Enter the following details to verify your claim: </p></<br />
        <input type="text" name="LecturerID" placeholder="Lecturer ID" /><br />
        <input type="text" name="CoordinatorID" placeholder="Coordinator ID" /><br />
        <input type="text" name="ManagerID" placeholder="Manager ID" /><br />
        <input type="text" name="HoursWorked" placeholder="Hours Worked" /><br />
        <input type="date" name="Date" /><br />
        <button style="background-color: aqua; border-radius: 15px">Verify Claim</button>
    </div>
</body>